<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1><%= @status %> error</h1>
    <p><%= @error %></p>
  </body>
</html>
