<html>
  <head>
    <title><%= @title || 'tapes!' %></title>
    <style>
      body {
        font-family: sans-serif;
      }
      h1 {
        text-align: center;
      }
      .centered {
        width: 940px;
        margin: auto;
      }
      .centered.andContent {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
