<h1>Uploads for <%= @tape["name"] %></h1>
<div class="bumped">
  <ol>
    <% @uploads.each do |upload| %>
      <li>
        <%= upload.split(/(?<!\|)-/).first.gsub("|-", "-") %>
      </li>
    <% end %>
  </ol>
</div>
<div class="bumped">
  <a href="/">back</a>
</div>
